/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    
}

/* Contact Form */
.contact-form {
    margin-left: 30%;
    border: 2px solid #49D13C;
    padding: 20px;
    border-radius: 10px;
    width: 40%; /* Réduction de la largeur */
    margin-top: 5%;
    text-align: center; /* Centrage du texte */
}

/* Titres */
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Champs input et textarea */
.input-field {
    background-color: transparent;
    border: 2px solid #49D13C;
    color: #00FF00;
    padding: 10px;
    width: 100%; /* Ajuste automatiquement la taille */
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
}

/* Champ textarea spécifique */
.textarea {
    height: 100px;
    resize: none;
}

/* Bouton Submit */
.submit-btn { 
    background-color: #49D13C;
    color: black;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px; /* Met le bouton plus bas */
    width: 100%;
}

.submit-btn:hover {
    background-color: #49D13C;
    box-shadow: 0 0 10px #49D13C;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-form {
        width: 80%; /* Plus petit sur mobiles */
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }
}
