* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #1E1E1E;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0;
}
.banner {
    width: 100%;
    height: 450px; /* Ajuste selon la taille de tes images */
    position: relative;
    overflow: hidden;
}
.banner-after {
    width: 100%;
    height: 250px;
    margin-bottom: -100px; /* Ajuste selon la taille de tes images */
    position: relative;
    overflow: hidden;
}

.frame {
    margin-top: -300px;
    z-index:1;
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.frame-after{
    margin-top: -200px;
    z-index:1;
    margin-bottom: -150px;
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#animated-text {
    margin-top: -200px;
    z-index: 9;
    font-size: 24px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#enter-btn {
    display: none; /* Initialement caché */
    background-color: #a3d977; /* Couleur verte */
    color:  #1E1E1E;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px; /* Un peu d'espace entre le texte et le bouton */
    margin-left: 620px;
    transform: translateY(-150px);
}


#enter-btn:hover {
    background-color: #005f73;
}

#transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a3d977;
    z-index: 999;
    opacity: 0;
    pointer-events: none; /* Désactive l'interaction */
    transition: opacity 1s ease;
}