body {
    background-color: #1E1E1E;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

/* Contenu principal */
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Avatar à gauche */
.profile {
    margin: 10px;
    height: 100%;
    width: 25%;
    background: #2F4225;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    background: #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
}

.right-section {
    width: 65%;
    display: flex;
    flex-direction: column;
}

/* Description au-dessus des compétences */
.description {
    background: transparent;
    color: white;
    margin-right: 40px;
    border-radius: 8px;
    margin-bottom: 20px; /* Espace entre la description et les compétences */
    text-align: left;
}

/* Compétences à droite */
.container-skills {
    
    width: 93%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 20px;
    background: #2F4225;
    padding: 20px;
    border-radius: 8px;
}

/* Style des compétences */
.skill {
    background: #3D5731;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center; /* Aligne verticalement */
    justify-content: space-between; /* Espace entre le logo et la barre */
}

.skill img {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Ajoute de l'espace entre le logo et la barre */
}
.skill .star {
    margin-top: 15px;
    
    margin-left: -2px;
    width : 40%;
    height :25px;
} 

.skill-bar {
    flex-grow: 1; /* Permet à la barre de compétence de prendre tout l'espace restant */
    width: 100%;
    height: 10px;
    background: #3D5731;
    border-radius: 5px;
    position: relative;
}

.skill-fill {
    position: absolute;
    height: 10px;
    background: #A3D977;
    border-radius: 5px;
    z-index: 2;
}

.skill-in {
    position: absolute;
    height: 10px;
    background-color: #1E1E1E;
    border-radius: 5px;
    z-index: 1;
}
