* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin-top: 60px;
    background-color: #1E1E1E;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0;
}